## Developer: inkbytefo
## Modified: 2025-11-09

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chimera-data-pvc
  namespace: chimera-agi
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: fast-ssd
