## Developer: inkbytefo
## Modified: 2025-11-09

apiVersion: v1
kind: Service
metadata:
  name: chimera-agi-service
  namespace: chimera-agi
  labels:
    app: chimera-agi
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: metrics
  selector:
    app: chimera-agi
